<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Deteksi Clickbait</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="start-container">
        <h1>DETEKSI CLICKBAIT TRENDING YOUTUBE VIDEOS</h1>
        <p>Deteksi Judul Clickbait Pada Trending YouTube</p>
        <a href="/detect" class="btn-detect">Detect Trending</a>

        <form class="detecttext" method="POST" action="/">
            <input type="text" name="judul" placeholder="Masukkan judul video...">
            <input type="submit" value="Check judul">
        </form>

        
    </div>
    {% if hasil %}
    <div class="hasil-container">
            <div>{{ judul_asli }}</div>
            <div class="label-clickbait {% if hasil == 'Clickbait' %}clickbait{% endif %}">{{ hasil }}</div>
    </div>
        {% endif %}
</body>
</html>

